spring:
  datasource:
    url: jdbc:h2:mem:aimarket;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    driverClassName: org.h2.Driver
    username: sa
    password: sa
  h2:
    console:
      enabled: true
      path: /h2

logging:
  level:
    org.hibernate.SQL: WARN

